<html>
<body>
    <a href="/"> Home</a>
    <form method="POST" action="/calculate" style="display: inline-block;">
        <input type="number" placeholder="Percentile" min=0 max=100 required=true
              style="width: 85px; margin-left: 10px;" name="{{filename}}">
        <input type="submit" value="Calculate">
    </form>
    <form method="POST" action="/insert">
        <input type="submit" value="Insert into database" name={{filename}}>
    </form>
    {{message}}
    <br>
    {{data | safe}}
</body>
</html>